.ajax-spinner {
  z-index: 1000000;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  i {
    margin-top: -40px;
    margin-left: -40px;
    position: absolute;
    top: 50%;
    font-size: 80px;
    left: 50%;
  }
}
